<h1>Welcome, <%= @user.first_name %></h1>

<button><%= link_to "Update Profile", edit_user_path(@user) %></button> <br><br>

<button><%= link_to "Add Handle", new_user_handle_path(@user) %>
</button><br><br>

<button><%= link_to "View Handles", user_handles_path(@user) %></button><br><br>

<button><%= form_tag user_path(@user), method: "delete" do %>
<%= submit_tag("Delete My Account") %>
<%end%></button>
